@font-face {
  font-family: 'Roboto';
  src: url(./font/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
}
*{
    padding: 0;
    margin: 0;  
}

body{
    font-family: 'Roboto'!important;
    background-color: rgb(0, 0, 0) !important;
    color:white !important;
    overflow-x:hidden ;
}
.new1{
  margin-top: 100px;
  border: 1px solid red;
}
.new2{
  border:1px solid red;
}
.logo{
    color:white;
    
}
.navbar{
    
    font-size: 30px;
    background-color: rgb(0, 0, 0)!important;
}
@media (max-width:768px){
    .navbar{
    max-width: 100vw;
    }
}
.navbar ul{
  text-align: center;
  margin-left: -48px;
}
.introCon{
    width:100%;
    height:1300px;
}
.introCon{
    background: url(./images/introImg.jpg) no-repeat center center/cover;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
}
@media (max-width:900px){
    #Name{
        font-size:18px!important;
        position: absolute;
        top: 40%!important;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #slash{
        font-size:25px !important;
        color:rgb(162, 31, 31);
    }
    #profesion{
        font-size:12px !important;
        position: absolute;
        color:white;
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.btn{
    color: rgb(162, 162, 162) !important;
}
#Name{
    font-size:30px;
    position: absolute;
    color:rgb(255, 255, 255);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#profesion{
    font-size:20px;
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#arrow{
    font-size:50px;
    font-weight: 800;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
#slash{
    font-size:50px;
    font-weight: 700;
    color:rgb(162, 31, 31);
}

#About{
    scroll-margin-top: 100px;
}
#About button{
  margin-bottom: 50px;
}
.aboutCon{
    margin-top: 1400px;
    text-align: center;
}
#aboutText{
    margin-top:100px;
    
}

.CV{
    margin-top:100px;
}
#skills{
    letter-spacing: 6px;
    margin-top:150px;
    text-align: center;
}
#myChart{
    align-items: center;
    margin-top: 100px;
}

.Proj{
    text-align: center;
    margin-top: 100px;
    letter-spacing: 6px;

}
.proj-cards{
    width: 28rem;
    height: 45rem;
    margin-top: 100px;
    text-align: center;
    box-shadow: 0px 0px 5px 10px rgb(250, 250, 250) !important;
}
.proj-cards:hover{
    background-color: rgb(87, 34, 34)!important;
}

.proj-imgs{
    height:15rem;
    cursor: pointer;
}

@media (max-width:900px){
    .proj-imgs{
        height: auto;
    }  
    .proj-cards{
        width: 100%;
    }
}
span{
    color: black;
    text-decoration: none;
    cursor:auto;
}


.hiddenL{
    opacity:0;
    filter:blur(5px);
    transform: translateX(-20vw);
    transition: all 1s;
}
.hiddenR{
    transform-box: content-box;
    opacity:0;
    filter:blur(5px);
    transform: translateX(+20vw);
    transition: all 1s;
}
.hiddenImgR{
    transform-box: content-box;
    opacity:0;
    filter:blur(5px);
    transform: translateX(+20vw);

    transition: all 1s;
}
.hidden{
    opacity:0;
    filter:blur(px);
    transition: all 1s;
}
.show{
    opacity:1;
    filter:blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion){
    .hiddenR{
        transition:none;
    }
    .hiddenL{
        transition:none;
    }

}

#scrollBtn {
    display: none; 
    position: fixed; 
    bottom: 10px;
    left:48.5%;
    z-index: 99; 
    border: none;
    outline: none; 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
    cursor: pointer; 
    padding-left:10px ; 
    padding-right: 10px;
    border-radius: 8px; 
    font-size: 30px; 
    font-weight:bold;
    opacity: 0.3;
  }
  @media (max-width:900px){
   #scrollBtn{
    left:45%;
   }
}
  #scrollBtn:hover {
    background-color: red;
    opacity: 1; 
  }
  
  #contact {
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
  }
  
  .section-header {
    text-align: center;
    margin-top: 100px;
    padding: 40px 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  .form-horizontal {
    max-width: 100%;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 100%;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    text-align: center;
    max-width: 400px;
  }
  
  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 10px;
  }
  
  .phone {
    margin-left: 5px;
  }
  
  .gmail {
    margin-left: 5px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  .form-control{
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 5px rgb(80, 80, 80);
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      margin: 0 auto;
    }  
    .form-control, textarea {
      
      margin: 0 auto;
    }
   
    
    .name, .email, textarea {
      width: 280px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 280px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  